<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/board.css' />
	
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- App logic controller -->
	<script src="/javascripts/board_app.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<div style="border-bottom: 1px solid #ccc;">
		<h2 style="margin-left: 5px; margin-right: 5px;">{{team.name}}<button style="float: right;" class="btn btn-default" type="submit" data-toggle="modal" data-target="#new-item-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h2>
	</div>
	<div>
		<div style="border-bottom: 1px solid #ccc;">
			<h4 style="text-align: center;">Backlog</h4>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3" ng-repeat="task in team.scrumTasks | filter:filterBacklog">
						<div class="panel panel-default" style="background-color: {{task.color}}; color: {{task.textColor}};">
							<div class="panel-body">
								<span class="glyphicon glyphicon-pencil edit-button" aria-hidden="true" data-toggle="modal" data-target="#edit-item-modal"></span>
								<h3>{{task.section}}</h3>
								<p>{{task.details}}</p>
								<h4 style="text-align: right;">{{task.assignee}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="border-bottom: 1px solid #ccc;">
			<h4 style="text-align: center;">Sprint 1</h4>
		</div>
		<div style="border-bottom: 1px solid #ccc;">
			<h4 style="text-align: center;">Sprint 2</h4>
		</div>
		<div style="border-bottom: 1px solid #ccc;">
			<h4 style="text-align: center;">Sprint 3</h4>
		</div>
		<div style="border-bottom: 1px solid #ccc;">
			<h4 style="text-align: center;">Completed</h4>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3" ng-repeat="task in team.scrumTasks | filter:filterCompleted">
						<div class="panel panel-default" style="background-color: {{task.color}}; color: {{task.textColor}};">
							<div class="panel-body">
								<span class="glyphicon glyphicon-pencil edit-button" aria-hidden="true" data-toggle="modal" data-target="#edit-item-modal"></span>
								<h3>{{task.section}}</h3>
								<p>{{task.details}}</p>
								<h4 style="text-align: right;">{{task.assignee}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="new-item-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Add an item</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="itemSection">Project section</label>
							<input type="text" class="form-control" id="itemSection" placeholder="Enter section name" ng-model="itemSection">
						</div>
						<div class="form-group">
							<label for="itemDetails">Item details</label>
							<textarea class="form-control" rows="3" id="itemDetails" placeholder="Enter item details (description)&hellip;" ng-model="itemDetails"></textarea>
						</div>
						<div class="form-group">
							<label for="itemAssignee">Assignee</label>
							<input type="text" class="form-control" id="itemAssignee" placeholder="Enter the name of the person who this item is assigned to&hellip;" ng-model="itemAssignee">
						</div>
						<div class="form-group">
							<label for="itemSprintNum">Item sprint</label>
							<select class="form-control" id="itemSprint" ng-model="itemSprint">
								<option value="backlog">Backlog</option>
								<option value="1">Sprint 1</option>
								<option value="2">Sprint 2</option>
								<option value="3">Sprint 3</option>
								<option value="complete">Complete</option>
							</select>
						</div>
						<div class="form-group">
							<label for="itemColor">Item color</label>
							<select class="form-control" id="itemColor" ng-model="itemColor">
								<option value="blue">Blue</option>
								<option value="red">Red</option>
								<option value="pink">Pink</option>
								<option value="yellow">Yellow</option>
								<option value="purple">Purple</option>
								<option value="orange">Orange</option>
								<option value="green">Green</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="addModalClosed()">Done</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="edit-item-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit item</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="itemSection">Project section</label>
							<input type="text" class="form-control" id="itemSection" placeholder="Enter section name" value="UI">
						</div>
						<div class="form-group">
							<label for="itemDetails">Item details</label>
							<textarea class="form-control" rows="3" id="itemDetails" placeholder="Enter item details (description)&hellip;">Add captcha to the forms.</textarea>
						</div>
						<div class="form-group">
							<label for="itemAssignee">Assignee</label>
							<input type="text" class="form-control" id="itemAssignee" placeholder="Enter the name of the person who this item is assigned to&hellip;" value="Viraj Chitnis">
						</div>
						<div class="form-group">
							<label for="itemSprintNum">Item color</label>
							<select class="form-control" id="itemSprintNum">
								<option value="backlog">Backlog</option>
								<option value="1" selected>Sprint 1</option>
								<option value="2">Sprint 2</option>
								<option value="3">Sprint 3</option>
								<option value="complete">Complete</option>
							</select>
						</div>
						<div class="form-group">
							<label for="itemColor">Item color</label>
							<select class="form-control" id="itemColor">
								<option value="blue" selected>Blue</option>
								<option value="red">Red</option>
								<option value="pink">Pink</option>
								<option value="yellow">Yellow</option>
								<option value="purple">Purple</option>
								<option value="orange">Orange</option>
								<option value="green">Green</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Done</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="about-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">About</h4>
				</div>
				<div class="modal-body">
					<h4>Scrum Board <small>beta1</small></h4>
					<p><small>Copyright &copy; 2014 Viraj Chitnis</small></p>
					<p>For any feature requests or bug reports, please email me at <a href="mailto:chitnisviraj@gmail.com">chitnisviraj@gmail.com</a></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="beta-tag" data-toggle="modal" data-target="#about-modal"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;beta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
