<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>
    
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div style="position: fixed; top: 0; left; 0; height: 10%; width: 100%; text-align: center; border-bottom: 1px solid #ccc; box-shadow: 1px 1px 4px 5px #ccc;">
		<h2>Faculty Affairs</h2>
	</div>
	<div style="position: fixed; top: 10%; left: 0; height: 90%; width: 100%;">
		<div style="width: 100%; border-bottom: 1px solid #ccc;">
			<h4>Backlog</h4>
		</div>
		<div style="width: 100%; border-bottom: 1px solid #ccc;">
			<h4>Sprint 1</h4>
		</div>
		<div style="width: 100%; border-bottom: 1px solid #ccc;">
			<h4>Sprint 2</h4>
		</div>
		<div style="width: 100%; border-bottom: 1px solid #ccc;">
			<h4>Sprint 3</h4>
		</div>
	</div>
</body>
</html>
