<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    
	<!-- 'Ubuntu' from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />
	
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- App logic controller -->
	<script src="/javascripts/index_app.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<div id="top-panel">
		<div class="page-header">
			<h1><%= title %></h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-body" id="main-panel-body">
				<form class="form-inline">
					<a class="btn btn-default" href="#" role="button" ng-click="openNewModal()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
					<div class="form-group">
						<div class="input-group">
							<input type="search" class="form-control" id="searchTeams" placeholder="Search teams" ng-model="searchTeams.name">
							<div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="main-panel">
		<div class="container-fluid">
			<div class="panel panel-default team-panel" ng-repeat="team in teams | filter:searchTeams | orderBy:'name'">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-link link-button" aria-hidden="true" ng-click="openTeamBoard(team._id)"></span> {{team.name}} <span class="glyphicon glyphicon-pencil edit-button" aria-hidden="true" ng-click="openEditModal(teams.indexOf(team))"></span></h3>
				</div>
				<div class="panel-body">
					<p ng-bind-html="getAsHTML(team.description)"></p>
					<small>{{team.members}}</small>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="new-team-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Add a team</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="teamName">Team name</label>
							<input type="text" class="form-control" placeholder="Enter name" ng-model="teamName">
						</div>
						<div class="form-group">
							<label for="teamMembers">Team members</label>
							<textarea class="form-control" rows="3" placeholder="Enter team member names" ng-model="teamMembers"></textarea>
						</div>
						<div class="form-group">
							<label for="teamDescription">Project description</label>
							<textarea class="form-control" rows="3" placeholder="Describe the team's project&hellip;" ng-model="teamDescription"></textarea>
						</div>
						<div class="form-group">
							<label for="teamSecret">Team secret</label>
							<p>The secret is some text that a team should decide upon, this text will serve as a sort of password. Only the team and the instructor should know this secret. When a user chooses to open a team's scrum board, they will be asked to enter the secret. Only if the secret entered matches the secret for that particular team, will the scrum board be opened.</p>
							<input type="password" class="form-control" placeholder="Enter secret" ng-model="teamSecret">
						</div>
						<div class="form-group">
							<label for="teamBacklog">Tasks backlog</label>
							<p>Check the box below if you need to have a row on your scrum board which can be used for keeping track of tasks that are yet to be completed and have not yet been assigned to any sprint.</p>
							<input type="checkbox" ng-model="teamBacklog"> Tasks backlog
						</div>
						<div class="form-group">
							<label for="teamCompleted">Completed tasks</label>
							<p>Check the box below if you need to have a row on your scrum board which can be used for keeping track of completed tasks.</p>
							<input type="checkbox" ng-model="teamCompleted"> Completed tasks
						</div>
						<div class="form-group">
							<label for="teamSprints">Number of sprints</label>
							<p>The number of sprints that will be used by your team. This setting can be changed later from the scrum board settings if needed.</p>
							<select class="form-control" ng-model="teamSprints">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="addModalClosed()">Done</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="edit-team-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit {{teamName}}</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="teamName">Team name</label>
							<input type="text" class="form-control" placeholder="Enter name" ng-model="teamName">
						</div>
						<div class="form-group">
							<label for="teamMembers">Team members</label>
							<textarea class="form-control" rows="3" placeholder="Enter team member names" ng-model="teamMembers"></textarea>
						</div>
						<div class="form-group">
							<label for="teamDescription">Project description</label>
							<textarea class="form-control" rows="3" placeholder="Describe the team's project&hellip;" ng-model="teamDescription"></textarea>
						</div>
						<div class="form-group">
							<label for="teamSecret">Team secret</label>
							<p>The secret is some text that a team should decide upon, this text will serve as a sort of password. Only the team and the instructor should know this secret. When a user chooses to open a team's scrum board, they will be asked to enter the secret. Only if the secret entered matches the secret for that particular team, will the scrum board be opened.</p>
							<input type="password" class="form-control" placeholder="Enter old secret" ng-model="teamOldSecret">
							<input type="password" class="form-control" placeholder="Enter new secret" ng-model="teamNewSecret" style="margin-top: 5px;">
							<p style="color: red;" ng-style="displaySecretError"><b>{{secretError}}</b></p>
						</div>
						<div class="form-group">
							<label for="teamBacklog">Tasks backlog</label>
							<p>Check the box below if you need to have a row on your scrum board which can be used for keeping track of tasks that are yet to be completed and have not yet been assigned to any sprint.</p>
							<input type="checkbox" ng-model="teamBacklog"> Tasks backlog
						</div>
						<div class="form-group">
							<label for="teamCompleted">Completed tasks</label>
							<p>Check the box below if you need to have a row on your scrum board which can be used for keeping track of completed tasks.</p>
							<input type="checkbox" ng-model="teamCompleted"> Completed tasks
						</div>
						<div class="form-group">
							<label for="teamSprints">Number of sprints</label>
							<p>The number of sprints that will be used by your team. This setting can be changed later from the scrum board settings if needed.</p>
							<select class="form-control" ng-model="teamSprints">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" ng-click="teamDeleted()">Delete {{teamName}}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="editModalClosed()">Done</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="about-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">About</h4>
				</div>
				<div class="modal-body">
					<h4>Scrum Board <small>beta1</small></h4>
					<p><small>Copyright &copy; 2014 Viraj Chitnis</small></p>
					<p>For any feature requests or bug reports, please email me at <a href="mailto:chitnisviraj@gmail.com">chitnisviraj@gmail.com</a></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="beta-tag" data-toggle="modal" data-target="#about-modal"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;beta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
