* {
	margin: 0;
	font-family: 'Ubuntu', 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	line-height: 1.5;
}
body {
	max-width: 21.59cm;
	margin: 0 auto !important;
	float: none !important;
}
#top-panel {
	text-align: center;
}
#main-panel-body {
	text-align: center;
}
.team-panel {
	margin-top: 10px;
}
.edit-button {
	float: right;
}
