* {
	margin: 0;
	font-family: 'Ubuntu', 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	line-height: 1.5;
}
body {
	max-width: 22cm;
	margin: 0 auto !important;
	float: none !important;
}
#beta-tag {
	position: absolute;
	top: -12px;
	left: -25px;
	background-color: yellow;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border-bottom: 0.5px solid #ddd;
	cursor: pointer;
}
